.ajax-loading .ajax-loading-body {
    display: block;
}

.ajax-loading-body {
    display: none;
    position: fixed;
    z-index: 1000;
    background: #fff;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;    
}

.ajax-loading-body p {
    line-height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    width: 100%;
    margin: 0;
    font-weight: bold;
}