@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../fonts/roboto/") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
    color:#515354;
}
html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}
body{min-height:568px}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

small {
  font-size: 75%;
}


.thin {
  font-weight: 200;
}

.text-green{
    color:#00C63B;
}
.text-lightblue{
    color: #679CD8;
}
.container{
    max-width: 1080px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}
.main-header{
	background: #00c63b
}
.logo{
	padding: 15px 0;
}
.text-left{
    text-align: left
}
.text-center{
	text-align: center
}
.text-right{
    text-align: right;
}

.float-left{
    float: left;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-bottom: 20px;
}

.row:after, .clear-float:after{
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 7.5px;
  min-height: 1px;
}


.row .col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.offset-s1 {
  margin-left: 8.3333333333%;
}

.row .col.offset-s2 {
  margin-left: 16.6666666667%;
}
.row .col.offset-s3 {
  margin-left: 25%;
}

.row .col.offset-s4 {
  margin-left: 33.3333333333%;
}

.row .col.offset-s5 {
  margin-left: 41.6666666667%;
}

.row .col.offset-s6 {
  margin-left: 50%;
}

.row .col.offset-s7 {
  margin-left: 58.3333333333%;
}

.row .col.offset-s8 {
  margin-left: 66.6666666667%;
}

.row .col.offset-s9 {
  margin-left: 75%;
}

.row .col.offset-s10 {
  margin-left: 83.3333333333%;
}

.row .col.offset-s11 {
  margin-left: 91.6666666667%;
}

.row .col.offset-s12 {
  margin-left: 100%;
}

.form-element{
    display: block;
    width: 100%;
    height: 34px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

ul{
    padding-left: 0
}
ul li{
    list-style: none
}
nav .main-nav a{
    display: block;
    color: #fff;
    font-weight: 400
}
.main-nav .row{
    margin-bottom: 10px;
}
.main-searchbar{
    position: relative;
}
.main-searchbar button{
    position: absolute;
    top: 3px;
    right: 5px;
    border: 0;
    background: no-repeat;
    background: none;
    border: none;    
}
.main-thirdmenu a{
    display: block;
    background: #fff;
    margin-top: 20px;
    padding: 7px
}
.main-userinfo {
    padding: 5px 0 0 0;
    background: #fff;
    margin: 0 0 20px 0;
}
.main-userinfo .col{
    margin-bottom: 5px
}
.main-userinfo .gray-btn{
    display: block;
    background: #7F7F7F;
    border: 1px solid #717171;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    padding: 4px;
}
.main-userinfo .sky-btn{
    display: block;
    background: #7EA8DC;
    border: 1px solid #74A2DA;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    padding: 4px;
}
.main-userinfo .s2 .text-center{
    padding: 4px;
    background: none;
    border: none;    
}
.progress{
    margin-top: 3px;
    height: 12px;
    overflow: hidden;
    background-color: #CCF4D8;
    border-radius: 5px;
}
.progress-bar{
    background: #00C63B;
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}
.main-notice{
    background: #fff;margin: 0 0 20px 0;padding-bottom: 5px
}
.login-header{
    border-bottom:1px solid #00C100;
}
.login-header .back{
    padding: 5px 0;
}
.login-header .back a,
.login-header .back button {
    display: inline-block;
    margin-right: 5px;    
    border: none;
    background: none;
}

.login-header .back h6{
    font-size: 15px;
    display: inline-block;
}
.login-formarea .col{
    margin-bottom: 10px;
}
.btn{
    display: block;
    width: 100%;
    border:none;
    padding: 10px;
    border-radius: 3px;
}
.primary-btn{
    background: #00C63C;
    color: #fff;
}
.default-btn{
    background: #CBCCCD;
    font-weight: 500;
    color: black;
}
.login-logo{margin:60px 0 30px 0}
.login-logo p{
    margin:0;
    color: #757677;
}

.form-check {
    position: relative;
    display: block;
    margin-bottom: .5rem;
}
.form-check-label {
    padding-left: 1.25rem;
    margin-bottom: 0;
}
.form-check-input {
    position: absolute;
    margin-top: .25rem;
    margin-left: -1.25rem;
}
.login-option{
    font-weight: 400;
}
.login-option .text-center a{
    text-decoration: underline;
}
.signupstep1-row h6{
    font-size: 16px;
    font-weight: 500
}
.signupstep1-row p{
    margin: 0;
    color: #646566;
}
.signupstep1-row a{
    background: #00C63C;
    border: 1px solid #00C100;
    color: #fff;
    padding: 10px;
    margin-top: 5px;
    display: block;
}
.row-provision{border: 1px solid #ccc;border-radius:3px ;margin: 0 0 20px 0;background: #FEFFFF;color: #9A9B9C}
.row-provision .form-check-frt{border: 1px solid #ccc;border-radius:3px;padding: 8px 5px;margin: 3px -5px;background: #F3F4F5;color: #000}
.row-provision .form-check-label a{color:#9A9B9C;right: 0;
position: absolute;}
.form-hd-txt{font-size: 15px;font-weight: 600}
.list-row{border-bottom: 1px solid #E3E4E4;padding: 15px}
.list-row a{display: block;position: relative}
.list-row h6{margin:0 0 5px 0;font-weight: 500}
.list-row p{margin: 0}
.list-row .link{position:absolute;top: 8px;right: 0}
.list-row .banner{margin-top: 10px}
.hamburgermenu{position: absolute;top:15px;right: 15px}
.list-detail{padding: 15px}
.list-detail p{margin:  0 0 10px 0}
.list-tab:after{
    content: "";
    display: block;
    clear: both;
}
.list-tab .tab{
    float: left;
    width: 50%;
}
.list-tab .tab-active a{
    background: #EDEEEF !important;
}
.list-tab .tab a{
    display: block;
    background: #DEDFE0;   
    font-weight: 500;
    padding: 8px;
    color: black;
}


.site-nav-transition .wrap {
    z-index: 3;
	-moz-transition: -moz-transform 180ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -o-transition: -o-transform 180ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -webkit-transition: -webkit-transform 180ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: transform 180ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -moz-transform: translateY(-285px);
    -ms-transform: translateX(-285px);
    -webkit-transform: translateX(-285px);
    -moz-transform: translateX(-285px);
    -ms-transform: translateX(-285px);
    -webkit-transform: translateX(-285px);
    transform: translateX(-285px);
	overflow: hidden;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    z-index: 1030;
}         

.navbar-slide {
	height: 100%;
	z-index: 1000;
	width: 285px;
}

.navbar{border-left: 1px solid #E3E4E4}
.navbar .top{background: #00C63C;color: #fff}
.navbar .top h6{margin: 0}
.navbar .top p{margin: 0 0 5px 0}
.navbar .top .btn{display: inline-block;width: auto;border: 1px solid #fff;padding: 5px 10px}
.navbar .top .row{margin-bottom: 10px}
.navbar .top .welcome{font-size: 20px;padding: 10px 0 5px 0}
.navbar .top .welcome small{font-size: 18px;color: #FEFC00}
.navbar .top ul{border-top:1px solid #fff}
.navbar .top ul li{display: inline-block}
.navbar .top ul li a{display: block; padding: 10px;color:#fff}
.navbar .list-wrap .list-row img{margin-right: 10px}
.navbar .list-wrap .list-row h6{font-weight: 500}

.recomend-hd .row{margin-bottom: 5px}
.recomend-hd h6{font-size: 16px;font-weight: 500;color: #00C100}
.recomend-hd .form-check{margin-top: .5rem}
.aff-ele .row{margin-bottom: 0}
.aff-ele .col-tltle img{display: block;width: 100%}
.aff-ele h6{font-size: 16px}
.aff-ele .intro{color: #B4B5B6;margin-bottom: 5px}
.intro-wrap{position: relative}
.intro-wrap h6{position: absolute;bottom: 5px;color: #fff;width: 100%;font-size: 18px}
.aff-list{margin-bottom: 15px}
.aff-grid p{margin: 0}
.aff-foot{position: fixed;bottom: 0;width: 100%}
.affdetail-info p{color: #ACADAE;margin: 0}
.affdetail-info h6{font-size: 15px}
.affdetail-info .intro-body{margin-bottom: 20px}

.map-tab:after{
    content: "";
    display: block;
    clear: both;
}
.map-tab{
    text-align: center;
    border: 1px solid #DCDDDD;
}
.map-tab .tab{
    float: left;
    width: 50%;
}
.map-tab .tab-frt{
    border-right: 1px solid #DCDDDD;
    margin-left: -1px;
}
.map-tab .tab a{
    display: block;
    font-weight: 500;
    padding: 8px;
    color: #AFB0B1;
}
.productname-wrap p{margin: 5px 0}
.price-info{margin: 0 -7.5px}
.price-info .row-price, .price-info .row-quantity{background: #F1F2F3;padding:10px 0;font-weight: 500}
.price-info .row-price span{color: #FB0201}
.option-title h6{font-size: 16px;font-weight: 500;margin:0 0 10px 0}
.qty-ctrl{margin: 0}
.qty-ctrl li{display: inline-block}
.qty-ctrl a{display: block;text-align: center;border:1px solid #EFF0F1;padding:3px 9px;border-radius: 2px;background: #fff}
.qty-ctrl .cnt{display: block;width: 30px}
.tot-info{margin-top: -10px}
.tot-info .lmt-date{font-size: 12px;color: #57585A}
.tot-price{color: #FB0201;font-size:24px}
.price-info-foot .col{
    padding: 0;
}
.price-info-foot .btn{
    display: block;
    width: 100%;
    border:none;
    padding: 10px;
    border-radius: 3px;
}
.price-info-foot .primary-btn{
    background: #00C63C;
    color: #fff;
}
 .black-btn{
    background: #000001;
    color: #fff;
}
.order-ele{border: 1px solid #ddd;margin-top: 15px}
.order-ele .order-ele-row{margin-bottom: 0}
.order-ele-img{margin: 5px}
.order-ele-img img{display: block}
.order-ele-hd{position: relative}
.order-ele-hd h6{margin: 0;padding-top:10px}
.order-ele-hd a{position: absolute;top: 10px;right: 10px}
.order-ele-custom{background:#F1F2F3;border:1px solid #E0E1E2;margin: 5px;padding-top: 5px}
.order-ele-custom:after{clear: both;content: "";display: block;}
.order-ele-custom .col{margin: 5px 0}
.order-ele-custom .opt-cg-btn{padding: 5px 10px;background:#CBCCCD}
.pay-info-wrap{background:#EFF0F1;border: 1px solid #C3C4C5;padding: 15px}
.pay-info{margin-top: 15px}
.pay-info-wrap .discount-price input{width: 30px}
.pay-info-wrap .discount-price span{color: #535455;font-size: 12px}
.setupnoti-row h6{font-size: 18px;}
.setupnoti-row span{color: #9C9D9E}
.nonmember-guide{font-size: 11px;font-weight: 500}
.search-header{border-bottom: 3px solid #13C740}
.search-header .row-search{margin: 10px 0}
.search-header .row-search a{display: block}
.search-header .row-search .form-element{border: 0;padding: 0;height: auto;padding: 2px}

.search-category .category-label{background: #F1F2F3;}
.search-category .category-label p{margin: 0;padding: 10px}
.search-category .category-label:after{clear: both;content: "";display: block}
.search-category .category-label .label{float:left;width: 50%;border-left:1px solid #DEDFE0;border-bottom:1px solid #DEDFE0;margin: -1px}
.search-category .category-label .label h6{font-size: 16px;margin: 0;padding: 10px;font-weight: 500}

.search-category{}
.search-category .category-element{
    width: 100%;
    position: fixed;
    top: 84px;
    bottom: 0;
    left: 0;
    display: block;
}
.search-category .category-element:after{clear: both;content: "";display: block}
.search-category .category-element .element-col{float:left;width: 50%;height: 100%;border-left: 1px solid #DEDFE0;margin: -1px}
.search-category .category-element .element-col .element{position: relative;padding: 10px}
.search-category .category-element .element-col .element-all-delete{
    position: fixed;
    margin-left: -2px;
    width: 50%;
    bottom: 0;
    border-top: 1px solid #DEDFE0;
    border-right: 1px solid #DEDFE0;
}
.search-category .category-element .element-col .element-all-delete a{
    display: block;
    padding: 10px;
    color: #BABBBC;
    background:#F1F2F3;
}
.search-category .category-element .element-col .element .keyword-delete-a{
    position: absolute;
    right: 10px;
}
.search-category .category-element .element-col .element .top-keyword{color: #34D164}

.alert-msg {
    margin: 0;
    color: #f00;
    padding-bottom: 30px;    
}

